
<!DOCTYPE html>

<html>

<%- include('./partials/head') %>
<%- include('./partials/header') %>


<div class="banner">
    <img  class= "foto-banner" src="/images/banner.png" alt="Banner">
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Productos</h2>
        </div>
        <br>
        <br>

        <% for (let i=0;i < productos.length;i++){%>

            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/productos/detalle/<%=productos[i].id%>">
                        <figure class="product-box_image">
                            <img src= "<%=productos[i].foto_del_producto%>" alt="producto">
                        </figure>
                        <article class="product-box_data">
                            <h2><%=productos[i].nombre %></h2>
                            <p><%=productos[i].descripcion%></p>
                            <p>Creado por: <a href="/usuarios/perfil/<%=productos[i].usuario_producto.id%>"><%=productos[i].usuario_producto.nombre%></a></p>
                        </article>
                    </a>
                </section>
            </div>

        <% }%>

                </div>
            </div>
        </div>

<%- include("./partials/footer") %>


</html>
