<!DOCTYPE html>

<html>
<%- include('./partials/head') %>
<%- include('./partials/header') %>


<% for (let i=0;i < productos.length;i++){%>
    <% if (productos[i].id.toString() === id) {%>
       
  

<div class="container products-wrapper">
    <div class="d-flex align-items-center">
        <h2 class="products-title"><%=productos[i].nombre%></h2> 
        <p class="product-detail-description">
            <p><%=productos[i].usuario_producto.nombre%></p>
            <a href="/productos/agregar" class = "hipervinculo">Editar</a>
        </p>
    </div>
    <div class="product-detail">
        <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
                <img src="<%=productos[i].foto_del_producto%>" alt="" class="product-detail-img">
                <p class="product-detail-description"><%=productos[i].descripcion%></p>
            </article>
     <%}%>

     <% }%>
            <div class="col-12 col-lg-4">
                <section class="comments">
                    <% for (let i=0;i <5;i++){%>
                    <article>
                        <img src="<%=comentarios[i].imagen_perfil %>" alt="">
                        <div class="data">
                            <p class="user">
                            <strong> <a href="/usuarios/perfil"><%=comentarios[i].nombre_usario %></a> </strong>
                             <%= comentarios[i].texto_del_comentario %></p>
                            </div>
                    </article>
                    <%}%>
                </section>
                <form class="form" action="/" method="POST">
                    <input class="form-input" type="text" value="Agregar comentario" placeholder="Agregar comentario">
                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                </form>
                <hr>
            </div>
        </div>
    </div>
</div>


<%- include("./partials/footer") %>

</html>
