<!DOCTYPE html>

<html>
<%- include('./partials/head') %>
<%- include('./partials/header') %>

<% if(data.usuario_producto.id === navegador) {%>

<div class="container products-wrapper formularios">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Editar productos</h2>
        </div>
        <h2 class="col-12 ">
            <form method="post" action="/productos/editar/<%=data.id%>" class="forms">
                <label>Foto del producto</label>
                <input type="text" name= 'producto' value="<%=data.foto_del_producto%>">
                <br>
                <label>Nombre del producto</label>
                <input type="text" name= 'nombre_prod' value="<%=data.nombre%>">
                <br>
                <label>Descripcion del producto</label>
                <input type="text" name= 'Descripcion' value="<%=data.descripcion%>">
                <br>
                <label>Fecha de Carga</label>
                <input type="date" name="Fecha">
                <br>
                <button type="submit">Editar producto</button>
            </form>
        </h2>
        
    </div>
</div>

<%}else{%>

    <h1>No tienes permiso para editar este producto</h1>

<%}%>

<%- include("./partials/footer") %>

 </html>