<!DOCTYPE html>

<html>
<%- include('./partials/head') %>
<%- include('./partials/header') %>


<div class="container products-wrapper">
    <div class="d-flex align-items-center">
        <h2 class="products-title"><%=productos.nombre%></h2> 
        <% if (productos.usuario_producto.id === navegador){%>

        
        <p class="product-detail-description">  
            <a href="/productos/editar/<%=productos.id%>" class = "hipervinculo">Editar</a>
        </p>
        <form action="/productos/borrar/<%=productos.id%>" method="POST">
            <input type="submit" value="Borrar producto" />
        </form>
    <% } %>

    </div>
    <div class="product-detail">
        <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
                <img src="<%=productos.foto_del_producto%>" alt="" class="product-detail-img">
                <p class="product-detail-description"><%=productos.descripcion%></p>
                <p class="product-detail-description">Creado por: <a href="/usuarios/perfil/<%=productos.usuario_producto.id%>"><%=productos.usuario_producto.nombre%></a></p>
            </article>
            <div class="col-12 col-lg-4">
                <section class="comments">
                    <% for (let i=0;i <productos.comentario_producto.length;i++){%>
                    <article>
                        
                        <div class="data">
                            <img src="<%=comentarios[i].usuario_comentario.foto_de_perfil %>" alt="">
                            <p class="user"><strong><a href="/usuarios/perfil/<%=comentarios[i].usuario_comentario.id%>"><%= comentarios[i].usuario_comentario.nombre%></a></p></strong>
                             <p><%= productos.comentario_producto[i].comentario %></p>
                            </div>
                    </article>
                    <%}%>
                </section>
        
            <% if (locals.logueado) {%>
                <form class="form" action="/productos/detalle/<%=productos.id%>" method="post">

                    <input class="form-input" type="text" name = "comentario" placeholder="Agregar comentario">
                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                </form>
    
            <%}else{ %>
                <h2>Debe estar logueado para comentar</h2>
            <%}%>
                <hr>
            </div>
        </div>
    </div>
</div>


<%- include("./partials/footer") %>

</html>
