<!DOCTYPE html>

<html>
<%- include('./partials/head') %>
<%- include('./partials/header') %>

<section class="info-usuario container products-wrapper">
    <div class="row">
        <div class="img-container offset-3 col-2">
            <img src="<%=usuario.foto_de_perfil%>" alt="foto de perfil" class="foto-perfil">
        </div>
        <div class="data-container col-6">
            <div class="d-flex align-items-center ">
                <h1 class="main-title"><%=usuario.usuario%>
                    <a href="/usuarios/editar">
                        <i class="fas fa-cog"></i>
                    </a>
                </h1> 

    
                <a class="btn mt-3 ml-4" href="/usuarios/editar">EDITAR PERFIL</a>
            </div>
            <h5>"<%= usuario.email%>"</h5>  
            <div>
                <ul class="">
                    <% if (usuario.usuario.producto?.length === undefined){%>
                    <li>No hay productos subidos</li>
                    <%} else{%>
                        <li> <%= usuario.usuario_producto?.length%> productos </li>
                   
                    <%}%>

                    <li>200 seguidores</li>
                    <li>300 comentarios</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /Datos del usuario -->

<!-- Mis productos -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Mis productos</h2>
            
        </div>

        <% if (usuario.usuario.producto?.length === undefined){%>
            <div class="col-12">
                <h2 class="products-title">No hay productos subidos</h2>
            </div>
                
            
            <%} else{%>
            <% for (let i=0;i < usuario.usuario_producto?.length;i++){%>

            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/productos/detalle/<%=usuario.usuario_producto[i].id%>">
                        <figure class="product-box_image">
                            <img src="<%=usuario.usuario_producto[i].foto_del_producto%>" alt="producto">
                        </figure>
                        <article class="product-box_data">
                            <h2><%=usuario.usuario_producto[i].nombre%></h2>
                                <p><%=usuario.usuario_producto[i].descripcion%></p>
                                <p>Comentarios: <%=comentarios.length %></p>
                        </article>
                    </a>
                </section>
            </div>

        <% }%>
        <%}%>
    </div>
</div>

<%- include("./partials/footer") %>

</html>