<!DOCTYPE html>

<html>
<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            
        </div>
        <%if (resultadosEncontrados){%>
        <!-- Show the "ultimos" products -->
            <h2 class="products-title">Resultados de búsqueda "<%=busqueda%>"</h2>
        <% for (let i =0; i<1 ; i++){%>
            <div class="container products-wrapper">
                <div class="d-flex align-items-center">
                    <h2 class="products-title"><%=resultados[i].nombre%></h2> 
                    <p class="product-detail-description">
                        <a href="/productos/agregar">Editar</a>
                        <!-- después hay que ver como verificar si vos hiciste el producto -->
                    </p>
                </div>
                <div class="product-detail">
                    <div class="row">
                        <article class="col-12 col-lg-8 product-detail-info">
                            <img src="<%=resultados[i].foto_del_producto%>" alt="" class="product-detail-img">
                            <p class="product-detail-description"><%=resultados[i].descripcion%></p>
                        </article>
                        <% }%>
                        <div class="col-12 col-lg-4">
                            <section class="comments">
                                <% for (let i=0;i <5;i++){%>
                                <article>
                                    <img src="<%=comentarios[i].imagen_perfil %>" alt="">
                                    <div class="data">
                                        <p class="user">
                                        <strong> <a href="/usuarios/perfil"><%=comentarios[i].nombre_usario %></a> </strong>
                                         <%= comentarios[i].texto_del_comentario %></p>
                                        </div>
                                </article>
                                <%}%>
                            </section>
                            <!-- unicamente los usuarios logueados pueden agregar comentarios -->
                            <form class="form" action="" method="POST">
                                <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                                <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                            </form>
                            <hr>
                        </div>
                    </div>

                <%}else {%>
                    <h2 class="products-title">No se encontró ningún resultado para tu búsqueda "<%=busqueda%>" </h2>
                <%}%>
                </div>
           
    </div>

</div>

 <%- include("./partials/footer") %>

</html>

