<!DOCTYPE html>

<html>
<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <%if (resultadosEncontrados){%>
                <!-- Show the "ultimos" products -->
                    <h2 class="products-title">Resultados de búsqueda "<%=busqueda%>"</h2>
        </div>

        <div class="container products-wrapper">
        <div class="row">
  
        <% for (let i=0;i < resultados.length;i++){%>

            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/productos/detalle/<%=resultados[i].id%>">
                        <figure class="product-box_image">
                            <img src="<%=resultados[i].foto_del_producto%>" alt="producto">
                        </figure>
                        <article class="product-box_data">
                            <h2><%=resultados[i].nombre %></h2>
                                <p><%=resultados[i].descripcion%></p>
                                <% if (resultados[i].comentario_producto.comentario.length ===0){%>
                                    <p>No hay comentarios</p>
                                    <%}else{%>
                                <p>Comentarios: <%=resultados[i].comentario_producto.comentario.length %></p>
                                <%}%>
                        </article>
                    </a>
                </section>
            </div>

        <% }%>
    </div>
</div>

        
            <%}else {%>
                <h2 class="products-title">No se encontró ningún resultado para tu búsqueda "<%=busqueda%>" </h2>
            <%}%>
        </div>
           
    </div>

</div>

 <%- include("./partials/footer") %>

</html>

